/* No scroll */
body::-webkit-scrollbar, #app {
   display: none;
}
body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.get_help:hover,
.get_help:active {
  opacity: 0.5;
  cursor: pointer;
}
/* Messages styles */
.notice {
	border-color: #aecfc2;
	background-color: #edf8f4;
	color: #186146;
}
.alert {
	border-color: #fcdba9;
    background-color: #fff8ed;
    color: #ad5e18;
}
.error {
	border-color: #f5b5ba;
    background-color: #fff0f1;
    color: #8c232c;
}
.empty_messages {
	margin: 10px auto 0 auto;
    width: 70px;
    opacity: 0.1;
}